# Python
**/__pycache__/

# Test
**/test.py
**/fullFlow.py
testDatasetBuild.py
testHisa
meshDependancy
hisaS*
hisaV*
meshDependancy.ipynb

# OpenFOAM
**/[1-9]*/
**/polyMesh/
**/cellToRegion
bumpOpenFOAM*/
hisaMesh
VTK/
fluentToFoam.py

# Data generation
d[0-9]*/
ID*/

# Gmsh
**/*.geo
**/*.msh
meshVTK/
**/*.vtk
stlBump*/

# Gmsh bump generator old (write to .geo script without boundary layer)
bumpNoBL.py
bumpGNP.py
fakeBumpGen.py

# Data
data/
preprocessing/

# Log
**/log.*

