# Python related
**/__pycache__/

# Test
**/test.py
**/fullFlow.py

# OpenFOAM related
**/[0-9]*/
!bumpOpenFOAM/0/
**/polyMesh/
**/cellToRegion
bumpOpenFOAM*/

# Gmsh related 
**/*.geo
**/*.msh
meshVTK/
**/*.vtk

# Gmsh bump generator old (write to .geo script without boundary layer)
bumpNoBL.py
bumpGNP.py

# Data relaed
data/

# Log related
**/*.log
checkMeshLog/
