# Python
**/__pycache__/

# Test
**/test.py
**/fullFlow.py
testDatasetBuild.py

# OpenFOAM
**/[1-9]*/
**/polyMesh/
**/cellToRegion
bumpOpenFOAM*/
VTK/
hisa*
fluentToFoam.py

# Data generation
d14/
d21/
d28/
ID*/

# Gmsh
**/*.geo
**/*.msh
meshVTK/
**/*.vtk
stlBump*/

# Gmsh bump generator old (write to .geo script without boundary layer)
bumpNoBL.py
bumpGNP.py
fakeBumpGen.py

# Data
data/
preprocessing/

# Log
**/log.*

